/* HTML TAGS */

@font-face { font-family: Athiti; font-style: ; src: url('../../fonts/Athiti/Athiti-Regular.ttf'); } 

body
{
	font-family: Athiti;
	font-size: 14px;
	background-color: #FFFFFF;
	color: #000000;
}




/* OBJECTS */




/* CLASSES */